.vscode
api/app/Config/Database.php
api/vendor
api/.env
controlpanel/.next
controlpanel/node_modules
controlpanel/.env
/controlpanel/public/tinymce/
api/writable/google-service.json
admin/node_modules
node_modules
admin/bundle