.row-actions {
   color: #a7aaad;
   font-size: 13px;
   padding: 2px 0 0;
   position: relative;
   word-wrap: break-word;
   left: -9999em;
}
.row-actions a {
   transition: none;
   text-decoration: none;
   color: #2271b1;
}
tr.gridjs-tr:hover > td > span > .row-actions {
   position: static;
}
.row-actions a:focus {
   color: #043959;
   box-shadow: 0 0 0 2px #2271b1;
   outline: 2px solid transparent;
}
.row-actions span.trash a {
   color: #b32d2e;
}
.gridjs-table > tbody > tr > td {
   vertical-align: top;
}
.flatpickr-calendar.open {
   z-index: 99999;
}
.flatpickr-calendar {
   background: #fff;
}
